// CORES
$backgroundCinza: #f5f6fa !default;
$backgroundAzul: #182C61 !default;
$backgroundVerde1: #44bd32 !default;
$backgroundVerde2: #4cd137 !default;

// BREAKPOINTS
$mobile: 767px !default;
$tablet: 1023px !default;