#colors () {
    bodyColor: #f5f6fa;
    headerColor :#182c61;
    linkMenuColor: #fff;
    buttonColor: #44bd32;
    buttonHoverColor: #4cd137
}

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(min-width:768px) and (max-width: 1023px)";